<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Government Engineering School , Bilaspur || GEC</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "school/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Government Engineering College, Bilaspur</h1>

    <p style="text-align: justify;" >Government Engineering College Bilaspur, is a provider of University level technical education and research in Chhattisgarh state. The institute is is affiliated to Chhattisgarh Swami Vivekanand Technical University (CSVTU), Bhilai and approved by All India Council for Technical Education (AICTE), Delhi. Since its inception in 1964, college is a dynamic, fast growing educational institution. College provides a safe and supportive environment to foster the academic development and welfare of students. Imbibed with the message of “Yogah Karmasu Kaushalam”, the institute is offering a flexible and real world based approach in education. GEC Bilaspur offers 7 courses for Graduation i.e., Civil Engineering, Mechanical Engineering, Electrical Engineering, Mining Engineering, Electronics and Telecommunications, Computer Science and Engineering, and Information Technology.

The city of Bilaspur is a main junction on Howrah-Mumbai rail route of South Eastern Central railway. The distance of the institution from railway station is 10 km and the nearest airport is Swami Vivekanand Airport Raipur (115km). This institute is located on Korba road amidst the peaceful, lush green and natural region of Koni village. It is well connected by Rail and Roadways to other main cities.
<br>
    <h2>

Vision of the Institute:
    </h2>

To be a global leader by imparting quality technical education and innovative research for the betterment of the industry and society.

    <h2 >
    <br>

Mission of the Institute:
    </h2>

Developing technical competencies to enhance employability and entrepreneurship.Promoting research and consultancy activities to meet the need of industries. Inculcating ethical values and leadership qualities for sustainable development.   <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "school/footer.html" %}
</body>

</html>
