{% block table_entry %}
     <tr>
          <th scope="row">2</th>
          <td>322731(33)</td>
          <td>Elements of Electrical Engineering(New)</td>
          <td>
            <input type="text" class="form-control" placeholder="Obtained Marks">
          </td>
          <td>
            120
          </td>
          <td>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
          <td>
            4
          </td>
        </tr>
{% endblock table_entry %}